*{
  font-size:14px;
  font-family: sans-serif;
  margin:0;
  padding:0;
}
.text-input {
  width: 300px;
  padding: 5px;
  outline: none;
  margin-bottom: 5px;
  box-sizing: border-box;
}
.msg-input {
  width: 100%;
  padding: 5px;
  outline: none;
  margin-bottom: 5px;
  box-sizing: border-box;
}
.line {
  margin-top: 8px;
}
.line .author {
  font-weight: bold;
  font-size: 95%;
}
.line .hash {
  font-weight: normal;
  color: #cccccc;
  display: inline-block;
  margin-left: 15px;
  font-size: 80%;
  font-family: monospace;
}
.line .datetime {
  font-weight: normal;
  color: #aaaaaa;
  display: inline-block;
  margin-left: 5px;
  font-family: monospace;
  font-size: 80%;
}
.line .msg {
  margin-left: 12px;
}
.line .dice {
  padding-top: 5px;
  padding-left: 12px;
  color: #444444;
  font-size: 85%;
}
.line .dice strong {
  color: #000022;
  font-size: 110%;
}
body, html {
  background-color: #222244;
  background-image: url(background.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 200px 800px;
  height: 100%;
  margin: 0;
  padding: 0;
}
#wrapper {
  width: 960px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  background: #fafafa;
  padding: 110px 10px 10px;
  box-sizing: border-box;
  overflow: auto;
}
#message-form {
  height: 100px;
  margin-top: -100px
}

@media (max-width: 480px) {
  body {
    width: 100%;
    height: auto;
  }

  .text-input, .msg-input {
    width: 100%;
    margin-bottom: 0;
    border: none;
    border-bottom: solid 1px #cccccc;
    -webkit-border-radius: 0;
  }

  #wrapper {
    width: 100%;
    height: auto;
    min-height: 300px;
    padding: 0;
    overflow: normal;
  }
  #msg-list {
    padding: 0 10px;
  }
  #message-form {
    height: auto;
    padding: 10px 0;
    margin-top: 0;
  }
}
