doctype html
html(lang=ja)
  head
    meta(charset="utf-8")
    title="TRPG Chat"
    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="room.js")
    link(rel="stylesheet", href="room.css")
  body
    div#room(data-url=room_url, data-id=room_id)
    div#wrapper
      form#message-form(action="", method="post" onsubmit="return false;")
        input#author.text-input(type="text", placeholder="発言者")
        input#color.text-input(type="text", placeholder="カラーコード")
        textarea#message.msg-input(placeholder="メッセージ or ダイス (Enterで送信)")
        input.button(type="submit", style="padding:10px", onclick="sendMessage();", value="送信")
        input#audio(type="checkbox", checked)
      div#msg-list(style="height:100%; overflow:auto;")
